body {
  background: linear-gradient(
    90deg,
    hsla(278, 35%, 78%, 1) 0%,
    hsla(337, 100%, 89%, 1) 20%,
    hsla(338, 100%, 84%, 1) 40%,
    hsla(208, 97%, 87%, 1) 60%,
    hsla(209, 100%, 82%, 1) 80%
  );
  font-family: "Indie Flower", cursive;
  color: #ffffff;
  overflow: hidden;
}
